// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #1a1c22;
$body-color: #e3e3f3;
$primary: #c9a8ff;
$success: #28a745;
$danger: #dc3545;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


// 5. Add additional custom code here
